/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Pawsey Supercomputing Centre config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Configuration for running on Pawsey's Setonix HPC system
----------------------------------------------------------------------------------------
*/

cleanup = false
resume = true

process {
    cache = 'lenient'
    stageInMode = 'symlink'
    module = 'singularity/4.1.0-nompi'
    
    executor = 'slurm'
    clusterOptions = ' -A pawsey0964'

    // Default resources for all processes
    cpus = 8
    memory = '32 GB'
    time = '4h'
    
    // Process-specific resource requirements using process names
    withName: 'RNA_KINNEX:SKERA' {
        cpus = 8
        memory = '32 GB'
        time = '2h'
    }
    withName: 'RNA_KINNEX:LIMA' {
        cpus = 8
        memory = '32 GB'
        time = '4h'
    }
    withName: 'RNA_KINNEX:ISOSEQ_REFINE' {
        cpus = 8
        memory = '32 GB'
        time = '6h'
    }
    withName: 'RNA_KINNEX:RUNQC' {
        cpus = 4
        memory = '16 GB'
        time = '2h'
    }
    
    // Process label-based resource requirements (FIXED - no check_max)
    withLabel:process_single {
        cpus   = 1
        memory = '6 GB'
        time   = '4h'
    }
    withLabel:process_low {
        cpus   = 6
        memory = '20 GB'
        time   = '1h'
    }
    withLabel:process_medium {
        cpus   = 12
        memory = '40 GB'
        time   = '6h'
    }
    withLabel:process_high {
        cpus   = 16
        memory = '60 GB'
        time   = '8h'
    }
    withLabel:process_high_memory {
        cpus   = 24
        memory = '80 GB'
        time   = '8h'
    }
    withLabel:process_long {
        time   = '20h'
    }
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "$MYSOFTWARE/.nextflow_singularity"
    envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH, SINGULARITYENV_LD_PRELOAD'
}

executor {
    queueSize = 1000
    $slurm {
        pollInterval = '1 min'
        queueStatInterval = '5 min'
    }
}

params {
    max_cpus = 36
    max_time = 24.h
    max_memory = 200.GB
}

env {
    PYTHONNOUSERSITE = 1
}