/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running tests with Kinnex samplesheet format
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run main.nf -profile test_kinnex,docker

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test Kinnex profile'
    config_profile_description = 'Minimal test dataset to check pipeline function with Kinnex samplesheet format'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data for Kinnex format
    kinnex_samplesheet = "${projectDir}/kinnex_samplesheet.csv"
    data_dir           = "${projectDir}/test_data"
    
    // Output directory
    outdir = './results_kinnex_test'
}